<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS_Emulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <POS_Emulator.Properties.Settings>
            <setting name="spCaption" serializeAs="String">
                <value>USB Serial Port (COM10)</value>
            </setting>
            <setting name="spBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="spCycle" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="posRoll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posPitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posHeading" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posLatitude" serializeAs="String">
                <value>35.2528267</value>
            </setting>
            <setting name="posLongitude" serializeAs="String">
                <value>136.923553</value>
            </setting>
            <setting name="posAltitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="posSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posTrack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posLongAccel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posTranAccel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posDownAccel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="targLatitude" serializeAs="String">
                <value>36.09266</value>
            </setting>
            <setting name="targLongitude" serializeAs="String">
                <value>138.163956</value>
            </setting>
            <setting name="targAltitude" serializeAs="String">
                <value>1666.6</value>
            </setting>
            <setting name="topMost" serializeAs="String">
                <value>False</value>
            </setting>
        </POS_Emulator.Properties.Settings>
    </userSettings>
</configuration>